@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.title::before{
    content: " ";
    display: inline-block;
    box-sizing: border-box;
    justify-content: center;
    width: 2.7rem;
    height: 1px;
    margin-right: 1rem;
    background-color: #619bff;

}

@layer components{
    body{
        @apply text-textWhite
    }
    .title{
        @apply font-bold font-mono text-textBlue text-lg flex items-center my-8 top-0 sticky       
    }
    .bullet{
        @apply before:content-[""] before:w-1 before:h-1 before:bg-textBlue before:inline-block before:rounded-full before:mx-2
    }
    .styledBorderrb{
        background: 
          linear-gradient(black, black) padding-box,
          linear-gradient(to bottom right,black,black,black,darkblue) border-box;
    }
    .styledBorderb{
        background: 
          linear-gradient(black, black) padding-box,
          linear-gradient(to bottom, black,black,black,black,darkblue) border-box;
    }
}